<h1><%= link_to 'Nha hang', root_path %></h1>
<h2>Menu</h2>

<ul>
	<li><%= link_to 'Breakfast', menu_path(section: 'breakfast') %></li>
	<li><%= link_to 'Lunch', menu_path(section: 'lunch') %></li>
	<li><%= link_to 'Dinner', menu_path(section: 'dinner') %></li>
	<li><%= link_to 'Drinks', menu_path(section: 'drinks') %></li>
</ul>