<div class='row'>
  <%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :coupon %>
        <%= f.text_field :coupon %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn waves-effect waves-light' %>
    </div>
  <% end %>  
</div>
