<div>
  <h1>Thank you for your order</h1>
  <h4>Name <%= @order.name %></h4>
  <h4>Phone <%= @order.phone %></h4>
  <h4>Address <%= @order.address %></h4>
  <h4>Email <%= @order.email %></h4>
  <h4>Coupon <%= @order.coupon %></h4>
  <h4>Last updated <%= @order.updated_at.strftime("%B %-d, %Y %k:%M") %></h4>
  <h4>Total <%= @order.price %> VND</h4>
</div>

<% if !@order.active %>
  <h1>Delivered</h1>
<% end %>

<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <% @order.food_items.each do |food_item| %>
        <tr>
          <td><%= food_item.name %></td>
          <td><%= food_item.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @order.active %>
  <%= link_to 'Update shipping details', edit_order_path(@order) %>
  <%= link_to 'Deliver', deliver_order_path(@order), method: :post  %>
<% end %>
